.filter-box {
  box-shadow: 0.5rem 0.5rem 2rem var(--primary-background);
  min-width: 50rem;
  min-height: 50rem;
  padding: 3rem;
  background-color: #fff;
  border-radius: 1rem;
}

.title-section .secondary-title {
  color: var(--primary-text);
  margin-bottom: 1rem;
}

.mt-5 {
  margin-top: 5rem;
}
