select {
  width: 14rem;
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--select-border);
  color: var(--select-color);
  padding: 0.625rem 0.625rem;
  background-color: var(--select-background);
  font-weight: 500;
  background-image: url("../../../assets/icons/arrow-down.svg");
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position: right 0.625rem center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select:focus {
  outline: 0.125rem solid;
  outline-offset: 0.25rem;
  transition: 0s;
}

select:hover {
  background-color: var(----hover-background-color);
  transition: 0.1s ease-in-out;
  cursor: pointer;
  border: 0.0625rem solid var(--hover-border-color);
}

select:disabled {
  cursor: not-allowed;
  border: 0.0625rem solid var(--disabled-border-color);
  background-color: var(--disabled-background-color);
}

option:disabled {
  color: var(--disabled-option-color);
}

.error {
  border: 0.0625rem solid var(--error-color);
  background-image: url("../../../assets/icons/arrow-down-error.svg");
}
