select{
    width: 230px;
    height: 40px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #7B7B89;
    color: #1D1D30;
    padding: 5px 5px;
    background-color: #F0F1F1;
    font-weight: 500;
    background-image: url('../../../assets/icons/arrow-down.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

select:focus{
    outline: 2px solid;
    outline-offset: 2px;
    transition: 0   ;
}   

select:hover{
    background-color: #EBEBF5;
    transition: 0.1s ease-in-out;
    cursor: pointer;
    border: 1px solid #1F1F7A;
}

select:disabled{
    cursor: not-allowed;
    border: 1px solid #C3C3CD;
    background-color: #D0D0D7;
}

option:disabled {
    color: #B4B4C0;
}

.error{
    border: 1px solid #f00;
    background-image: url('../../../assets/icons/arrow-down-error.svg');
}